:root {
	--colour-background: #22262b;
	--colour-text-light: #ffffff;
	--colour-text-light-2: #cccccc;
	--colour-text-dark: #22262b;
}

html, body {
	height: 100%;
	margin: 0;
}

body {
	background-color: var(--colour-background);
	font-family: "Roboto", sans-serif;
}

a {
	text-decoration: none;
}

.title {
	color: var(--colour-text-light);
	font-size: 2em;
	font-weight: 600;
	padding: 40px;
}
.description {
	color: var(--colour-text-light-2);
	padding-left: 20px
}

.car-image {
	width: 100%;
	height: auto;
	margin-top: 40px;
	float: right;
}

.start-button {
	position: absolute;
	top: 90%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #ffffff;
	color: var(--colour-text-dark);
	font-weight: 600;
	border-radius: 999px;
	font-size: 1.5em;
	padding: 0.5em 2em;
}
