body {
	background-color: #ffffff;
}

.top-square {
	background-color: var(--colour-background);
	position: absolute;
	top: -60vw;
	left: -20vw;
	width: 100vw;
	height: 100vw;
	rotate: 25deg;
}

.login-container {
	display: flex;
	margin-top: 240px;
	align-items: center;
	flex-direction: column;
}
.profile-picture {
	width: 120px;
	height: auto;
}
.login-title {
	font-size: 2.5em;
	font-weight: 800;
}
.underline {
	display: flex;
	width: 7em;
	height: 6px;
	background-color: var(--colour-background);
	margin-top: 0.4em;
}
